@model IEnumerable<AllProjectsVM>

<div class="my-4">
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        @foreach (AllProjectsVM project in Model)
        {
            <div class="border bg-white shadow hover:shadow-lg duration-500 rounded-xl p-4">
                <div class="flex flex-col gap-y-5">
                    <!-- Project Name and Priority -->
                    <div class="flex justify-between">
                        <h3>@project.Name</h3>
                        <partial name="@project.Priority" />
                    </div>

                    <!-- Project Deadline -->
                    <div class="flex flex-col gap-y-1.5">
                        <h3>Deadline Date</h3>
                        <h3 class="text-gray-500">@project.EndDate.ToShortDateString()</h3>
                    </div>

                    <!-- Project Budget -->
                    <div class="bg-gray-700 text-center p-1 rounded-lg">
                        <h3 class="text-white"><span class="text-green-500">$</span> @project.Budget</h3>
                    </div>

                    <!-- Tasks Progress -->
                    <div class="flex flex-col gap-y-2">
                        <div class="flex justify-between">
                            <h3 class="font-bold">Tasks</h3>
                            <h3 class="text-gray-500">@project.CompletedMissionsCount/@project.AllMissionsCount</h3>
                        </div>
                        <div class="w-full bg-gray-200 rounded-lg h-2 overflow-hidden">
                            <div class="bg-black h-full rounded-lg transition-all duration-300"
                                 style="width: calc((@project.CompletedMissionsCount / @project.AllMissionsCount) * 100%)">
                            </div>
                        </div>
                    </div>

                    <!-- Project Actions -->
                    <div class="flex justify-between my-2">
                        <partial name="@project.ProjectStatus" />
                        <div class="flex gap-2 items-center">
                            <a href="/Project/Details/@project.Id" class="w-5 h-5 rounded-full bg-gray-100 hover:bg-gray-200 text-gray-600 p-0 flex items-center justify-center">
                                <img src="/Image/eye.png" class="h-10 w-10 object-contain" alt="Details" />
                            </a>
                            <button onclick="Edit(@project.Id)" class="w-5 h-5 rounded-full bg-blue-100 hover:bg-blue-200 text-blue-600 p-0 flex items-center justify-center">
                                <img src="/Image/pen.png" class="h-10 w-10 object-contain" alt="Edit" />
                            </button>
                            <button onclick="openDeleteModal(@project.Id)" class="w-5 h-5 rounded-full bg-red-100 hover:bg-red-200 text-red-600 p-0 flex items-center justify-center">
                                <img src="/Image/delete.png" class="h-10 w-10 object-contain" alt="Delete" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<partial name="_ValidationScriptsPartial"></partial>