
@model IEnumerable<AllProjectsVM>
@{
    ViewData["Title"] = "Projects";
}

<style>
    .dropdown-menu a {
    text-decoration: none;
    color: black;
    }

    .rounded{
        border-radius:25rem;
    }
</style>
@if(User.Identity.IsAuthenticated)
{
    <h1 class="p-2">Welcome, @User.Identity.Name!</h1>
}
<div class="container">
    <h1>Projects</h1>
        <h3 class="">Manage your projects</h3>
</div>

<div class="flex flex-col md:flex-row d gap-3 justify-between">
    <div class="flex space-x-4">
        <div class="relative dropdown">
            <button class="dropdown-btn px-4 py-2 border rounded shadow-sm bg-white text-gray-700 flex items-center justify-between w-40">
                All Projects <i class="fa-solid fa-angle-down"></i>
            </button>
            <div class="dropdown-menu absolute left-0 mt-2 w-40 bg-white border rounded-md shadow-lg hidden">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Not Started</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">In Progress</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">On Hold</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Completed</a>
            </div>
        </div>
        <div class="relative dropdown">
            <button class="dropdown-btn px-4 py-2 border rounded-md shadow-sm bg-white text-gray-700 flex items-center justify-between w-40">
                Based on <i class="fa-solid fa-angle-down"></i>
            </button>
            <div class="dropdown-menu absolute left-0 mt-2 w-32 bg-white border rounded-md shadow-lg hidden">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Budget</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Deadline</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Priority</a>
            </div>
        </div>
    </div>
    <div class="flex">
        <button id="openModal" class="px-4  py-2  bg-black text-white rounded-lg" >
            <i class="fa-solid fa-plus pe-2">d
            </i> Create Project</button>
    </div>
</div>



<div class="my-4">
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">

        @foreach (AllProjectsVM project in Model)
        {
        <div class="border bg-white shadow hover:shadow-lg duration-500 rounded-xl p-4">
               <div class="flex flex-col gap-y-5">
                    @* name*@

                    <div class="flex justify-between">
                        <h3>@project.Name</h3>
                        <partial name="@project.Priority" />
                    </div>
                    @* deadline *@
                    
                    <div class="flex flex-col gap-y-1.5">
                        <h3>Deadline Date</h3>
                        <h3 class="text-gray-500">@project.EndDate.ToShortDateString()</h3>
                    </div>
                    @* Balance *@
                    <div class="bg-gray-700 text-center p-1 rounded-lg">
                          <h3 class="text-white"><span class="text-green-500">$</span> @project.Budget</h3>
                     </div>
                    @* tasks *@
                     <div class="flex flex-col gap-y-2">
                        <div class="flex justify-between">
                            <h3 class="font-bold">Tasks</h3>
                            <h3 class="text-gray-500">@project.CompletedMissionsCount/@project.AllMissionsCount</h3>
                        </div>
                        <div class="w-full bg-gray-200 rounded-lg h-2 overflow-hidden">
                            <div class="bg-black h-full rounded-lg transition-all duration-300"
                                 style="width: calc((@project.CompletedMissionsCount / @project.AllMissionsCount) * 100%)">
                             </div>
                        </div>
                    </div>


                    <div class="flex justify-between my-2">
                        <partial name="@project.ProjectStatus" />
                        <div>
                        </div>
                    </div>
                 </div>


            </div>

        }            

    </div>
</div>




<div id="modal-container">
  
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
      $(".dropdown-btn").click(function (event) {
        event.stopPropagation();
        $(".dropdown-menu").not($(this).next()).hide();
        $(this).next(".dropdown-menu").toggle();
      });

      $(document).click(function () {
        $(".dropdown-menu").hide();
      });
    });

    $("#openModal").click(function (e) {
        e.preventDefault();
    console.log("exada");
        $.get('/Project/Add', function (data) {
            console.log(data);

           

            $("#modal-container").html(data);
            $("#modal").removeClass("hidden");
            
            // Prevent body scrolling when modal is open
            $('body').css('overflow', 'hidden');
        }).fail(function (xhr) {
            console.error("Error Loading Modal:", xhr.responseText);
        });
    });
    

</script>


