
@model IEnumerable<AllProjectsVM>
@{
    ViewData["Title"] = "Projects";
}

<style>
    .dropdown-menu a {
    text-decoration: none;
    color: black;
    }
</style>
@if(User.Identity.IsAuthenticated)
{
    <h1 class="p-2">Welcome, @User.Identity.Name!</h1>
}
<div class="container">
    <h1>Projects</h1>
        <h3 class="">Manage your projects</h3>
</div>

<div class="flex flex-col md:flex-row d gap-3 justify-between">
    <div class="flex space-x-4">
        <div class="relative dropdown">
            <button class="dropdown-btn px-4 py-2 border rounded shadow-sm bg-white text-gray-700 flex items-center justify-between w-40">
                All Projects <i class="fa-solid fa-angle-down"></i>
            </button>
            <div class="dropdown-menu absolute left-0 mt-2 w-40 bg-white border rounded-md shadow-lg hidden">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Not Started</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">In Progress</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">On Hold</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Completed</a>
            </div>
        </div>
        <div class="relative dropdown">
            <button class="dropdown-btn px-4 py-2 border rounded-md shadow-sm bg-white text-gray-700 flex items-center justify-between w-40">
                Based on <i class="fa-solid fa-angle-down"></i>
            </button>
            <div class="dropdown-menu absolute left-0 mt-2 w-32 bg-white border rounded-md shadow-lg hidden">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Budget</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Deadline</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Priority</a>
            </div>
        </div>
    </div>
    <div class="flex">
        <button id="openModal" class="px-4  py-2  bg-black text-white rounded-lg" >
            <i class="fa-solid fa-plus pe-2">
            </i> Create Project</button>
    </div>
</div>



<div class="my-4">
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">

        @foreach(var project in Model)
        {
            <div class=" border hover:shadow-lg duration-500 rounded-xl p-4">
                <div class="flex justify-between">
                    <h3 class="hover:text-red">@project.Name</h3>
                    <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>

                <div>
                    <p>@project.Description</p>
                </div>

                <div class="flex gap-x-2">
                    <span>
                        <i class="fa-regular fa-clock"></i>
                     </span>
                    <p>@project.StartDate</p>
                </div>

                <div class="bg-slate-200   rounded-xl">
                    <h5 class="py-2 px-4">$@project.StartDate</h5>
                </div>
                <div class="flex flex-col">
                    <div class="flex justify-between">
                           <p>Progress</p>
                           <p>@project.CompletedMissionsCount/@project.AllMissionsCount Tasks</p>
                     </div>

                    <progress id="file" max="@project.AllMissionsCount" value="@project.CompletedMissionsCount" class="w-full h-2 rounded-lg bg-black" ></progress>
                </div>

                <div class="my-3 flex justify-between items-center">
                    <h6>@project.ProjectStatus</h6>
                    <a class="px-4 py-2 bg-indigo-600 text-white rounded-lg" asp-action="Details" asp-route-id="@project.Id" style="">View Details</a>
                </div>
            </div>
        }

    </div>
</div>




<div id="modal-container">
  
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
      $(".dropdown-btn").click(function (event) {
        event.stopPropagation();
        $(".dropdown-menu").not($(this).next()).hide();
        $(this).next(".dropdown-menu").toggle();
      });

      $(document).click(function () {
        $(".dropdown-menu").hide();
      });
    });

    $("#openModal").click(function (e) {
        e.preventDefault();
    console.log("exada");
        $.get('/Project/Add', function (data) {
            console.log(data);

           

            $("#modal-container").html(data);
            $("#modal").removeClass("hidden");
            
            // Prevent body scrolling when modal is open
            $('body').css('overflow', 'hidden');
        }).fail(function (xhr) {
            console.error("Error Loading Modal:", xhr.responseText);
        });
    });
    

</script>


